*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;;
  font-weight: 400; 
  box-sizing: border-box;
}

/* ------ HEADER --------- */

header{
  z-index: 1;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.percent{
  height: 1.5rem;
  background-color:#1CD1B0;
  width: 100vw;
  align-items: center;
  display: flex;
  padding-left: 1rem;
  color: #fff;
  font-size: 19px;
}

.tittle-heroes{
  background-color: #00669F;
  height: 4.5rem;
  width: 100vw;
  align-items: center;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

h1{
  padding-left: 0.5rem;
}

.nav-end{
  background-color: #004367;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 1.6rem;
  align-items: center;
}

.nav-end a{
  color: #fff;
  text-decoration: none;
  padding-right: 2rem;
  font-size: 16px;
}

.nav-end li{
  text-decoration: none;
  list-style: none;
}

/* ------------- MAIN ---------- */

.container{
  display: flex;
  justify-content: center;
}

.container-add{
  display: flex;
  flex-direction: column;
  background-color: #00669F;
  margin-top: 11rem;
  margin-bottom: 5rem;
  height: 40rem;
  width: 50rem;
  border-radius: 15px;
}

.tittle-center{
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
  display: flex;
  padding-bottom: 2rem;
  color: #fff;
}

label{
  color: #fff;
}

p{
  color: #fff;
}

h2{
  padding-bottom: 1rem;
}

.up-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-container{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#down-file{
  display: flex;
  flex-direction: column;
}

#child-form{
  display: flex;
}


input[type="text"]{
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
}

input[type="date"]{
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
}

select{
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
}

textarea{
  margin-top: 1rem;
  border-radius: 10px;
}

#button-add{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

button{
  border-radius: 10px;
  height: 4rem;
  width: 10rem;
  background-color:#1CD1B0;
  color: #fff;
  font-size: 16px;
}

button:hover{
  background-color: #004367;
}

/* ------ FOOTER ------ */

#footerBar{
  background-color: #00669F;
  height: 51px;
  color: #fff;
  padding: 18px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


/* -----MEDIA QUERIES------- */

@media (max-width: 460px) {
  .percent{
    height: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .percent p{
    align-items: center;
    display: flex;
  }

  .tittle-heroes{
    display: none;
  }
  
  .nav-end {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
  }
}