*{
  padding: 0px;
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoBatman{
  display:block;
  margin:auto;
}

.secciones{
  height: 150px;
}

#fondoImagen{
  background-color: #E5E5E5;
}

.titulo{
  width: auto;
  background-color: #C4C4C4;
  height: 32px;
  color: #005677;
  font-weight: bold;
  display:block;
  margin:auto;
  padding: 10px;
}

#footerLocation{
  width: auto;
  height: 50px;
  background-color: #005677;
  color:#FFFFFF;
}
.contenedor{
  display: flex;
}
.marca1{
  /* justify-content: center;
  text-align: center; */
  
  color: #FFFFFF;
}
.marca2{
  /* justify-content: center;
  text-align: center; */
  color: #FFFFFF;
}


#nombre{
  display: block;
  margin:auto;
  text-align: center;
}

