*{
  padding: 0px;
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{  
  color: #005677;
  text-align: center;
  background-color: #C4C4C4;
  width: auto;
  height: 60px;
  border-radius: 10px;
  
}

#imgPersonal{
  color: #C4C4C4;
  display:block;
  margin:auto;
}

.secciones{
  height: 150px;
}

#fondoImagen{
  background-color: #E5E5E5;
}

.titulo{
  width: auto;
  border-radius: 10px;
  background-color: #C4C4C4;
  height: 32px;
  color: #005677;
  font-weight: bold;
  display:block;
  margin:auto;
  padding: 10px;
}

#footerLocation{
  width: auto;
  height: 50px;
  background-color: #005677;
  color:#FFFFFF;
}

#nombre{
  display: block;
  margin:auto;
  text-align: center;
}