*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

/* -------- header ------- */

.fondoHeader{
  background-color: #000;
  color: #fff;
}

.menuNavegacion{
  background-color: #FF9900;
  padding: 20px;
}

#bannerText1{
  position: absolute;
  width: 220px;
  height: 40px;
  left: 948px;
  top: 237px;
  color: #000;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-weight: 700;
}

#bannerText2{
  position: absolute;
  left: 948px;
  top: 287px;
}

#bannerText3{
  position: absolute;
  left: 948px;
  top: 337px;
  color: #fff;
  width: 120px;
  height: 30px;
  background-color: #FF9900;
}

nav li{
  display: inline-flex;
  justify-content: flex-end;
  color: #fff;
}

.navCenter{
  text-align: center;
}

.menuCenter{
  display: flex;
  justify-content: flex-end;
}

ul > li {
  margin: 10px;
}

ul li a{
  text-decoration: none;
  color: #fff;
}

/* --------- Main ---------- */

#banner{
width: 100%;
}

#paw{
  display: block;
  margin:auto;
  padding: 2%;
}

h1{
  text-align: center;
}

.containerImg{
  display: flex;
  justify-content: space-around;
}

.item{
  display: flex;
  flex-direction: row;
}

.containerText{
  display: flex;
  justify-content: space-around;
}

.priceColor{
  color: #FF9900;
  padding: 20%;
}

.productSection{
  display: flex;
  justify-content: space-around;
}

.itemProduct{
  display: flex;
  flex-direction: row;
}

#contact{
  text-align: center;
  font-weight: 700;
}

.contactUs{
  display: flex;
  flex-direction: column;
  background-color: #FF9900;
  color: #fff;
}

.itemDate{
  display: flex;
  align-items: center;
  text-align: center;
}

section i{
  width: 30px;
}

/* ----- Footer ------- */

.markPetshop{
  display: block;
  margin:auto;
}

.backBlue{
  background-color: #00FFFF;
}