*{
  padding: 0px;
  margin: 0px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
}

body{
  background: linear-gradient(to right, rgb(241, 237, 229), #ebb9dd, #c699e4, rgb(161, 238, 238));
}

header{
  height: 70px;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
}

.nameCenter{
  color:#fff;
  position: absolute;
  top: 18px;
}

nav ul li a{
  color:#fff;
}

ul li > a{
  text-decoration: none;
}

ul > li{
  margin: 30px;
}

.navCenter{
  display: flex;
  justify-content: flex-end;
}

.itemNav{
  display: flex;
  color: #fff;
  text-decoration: none;
}

/* .number{
  position: absolute;
  left: 100px;
  top: 100px;
  color: #fff;
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 100%;
} */

.container{
  display: flex;
  flex-wrap: wrap;
}

.itemLink{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  margin: 20px;
}

.subContainer{
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  background-color: #EBDEF0;
}

.subItem{
  color: #000;
  display: flex;
}

a img{
  width: 100%;
  height: 100%;
}

/* -----Footer ---- */

footer{
  text-align: center;
  font-weight: 400;
}

.markCenter{
  flex-direction: row;
}

.marca{
  color: #000;
}
